<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true" throwConfigExceptions="true">
	<variable name="LogDir" value="${basedir}/logs"/>
	<variable name="LogDate" value="${shortdate}"/>
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<targets>
		<target xsi:type="ColoredConsole" name="consoleTarget"  layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=Message,StackTrace,Data:maxInnerExceptionLevel=10}" />
		<target xsi:type="FallbackGroup" name="MainTargets" returnToFirstOnSuccess="true">
			<target type="database" name="database" dbProvider="Npgsql.NpgsqlConnection, Npgsql"
	 connectionstring="User ID=affilio;Password=netoqu6V;Host=localhost;Port=5432;Database=affilio;Pooling=true;">
				<commandText>
					INSERT INTO "Log"."EventLog"(
					"UserId", "QueryString", "Path", "Message",  "Ip", "Host", "Exception", "CreateDate", "Cookie", "Body", "Schema", "Headers", "Method", "StackTrace", "Level", "Handling", "Details", "ErrorCode","ExceptionType","ApplicationId")
					VALUES (@UserId, @QueryString, @Path, @Message, @Ip, @Host, @Exception, @CreateDate, @Cookie, @Body, @Schema, @Headers, @Method, @StackTrace, @Level, @Handling, @Details, @ErrorCode, @ExceptionType,1);
				</commandText>
				<parameter name="@CreateDate" layout="${date}" dbType="DbType.Date"/>
				<parameter name="@Handling" layout="${event-properties:item=EventId.Name}" />
				<parameter name="@Exception" layout="${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}" />
				<parameter name="@ExceptionType" layout="${mdlc:ExceptionType}"/>
				<parameter name="@Level" layout="${level}"/>
				<parameter name="@Details" layout="${exception:tostring}" />
				<parameter name="@Message" layout="${message}"/>
				<parameter name="@UserId" layout="${mdlc:UserId}"/>
				<parameter name="@QueryString" layout="${mdlc:QueryString}"/>
				<parameter name="@Path" layout="${mdlc:Path}"/>
				<parameter name="@Ip" layout="${mdlc:Ip}"/>
				<parameter name="@Host" layout="${mdlc:Host}"/>
				<parameter name="@Cookie" layout="${mdlc:Cookie}"/>
				<parameter name="@Body" layout="${mdlc:Body}"/>
				<parameter name="@Schema" layout="${mdlc:Schema}"/>
				<parameter name="@Headers" layout="${mdlc:Headers}"/>
				<parameter name="@Method" layout="${mdlc:Method}"/>
				<parameter name="@ApplicationId" layout="${mdlc:ApplicationId}" dbType="DbType.Int16" allowDbNull="true"/>
				<parameter name="@StackTrace" layout="${mdlc:StackTrace}"/>
				<parameter name="@ErrorCode" layout="${mdlc:ErrorCode}" dbType="DbType.Int16" allowDbNull="true"/>
			</target>
			<target xsi:type="File" name="fileTarget" fileName="${LogDir}/${LogDate}.log"
				encoding="utf-8" maxArchiveFiles="100" archiveNumbering="Sequence"   archiveDateFormat="yyyyMMddHHmm"
				archiveAboveSize="1048576" archiveFileName="${LogDir}/{#######}.a">
				<layout xsi:type="JsonLayout">
					<attribute name="Timestamp" layout="${longdate}" />
					<attribute name="Level" layout="${uppercase:${level}}" />
					<attribute name="Logger" layout="${logger}" />
					<attribute name="Handling" layout="${event-properties:item=EventId.Name}" />
					<attribute name="Action" layout="${aspnet-mvc-action}" />
					<attribute name="Message" layout="${message}" />
					<attribute name="Exception" layout="${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}" />
					<attribute name="StackTrace" layout="${replace:regex=true:searchFor=\\r\\n+:replaceWith= \aaa:inner=${exception:format=StackTrace}}" />
					<attribute name="Detail" layout="${exception:tostring}" />
				</layout>
			</target>
			<target name="debugger" xsi:type="Debugger" layout="${level}>${message} (${exception:format=ToString})"/>

		</target>

		<target xsi:type="FallbackGroup" name="IdentityGroup" returnToFirstOnSuccess="true">
			<target type="Database" name="identityDatabase" dbProvider="Npgsql.NpgsqlConnection, Npgsql"
	 connectionstring="User ID=app_Affiliate;Password=AffiliateJ3X_r,R)Y_bz6'm1400;Host=localhost;Port=5432;Database=Affilio;Pooling=true;">
				<commandText>
					INSERT INTO "Log"."IdentityLog"(
					"UserId","UserName","LoginAsUserName", "QueryString", "Path", "Message",  "Ip", "Host", "Exception", "CreateDate", "Cookie", "Body", "Schema", "Headers", "Method", "StackTrace", "Level", "Handling", "Details", "ErrorCode","ExceptionType")
					VALUES (@UserId, @UserName, @LoginAsUserName, @QueryString, @Path, @Message, @Ip, @Host, @Exception, @CreateDate, @Cookie, @Body, @Schema, @Headers, @Method, @StackTrace, @Level, @Handling, @Details, @ErrorCode, @ExceptionType);
				</commandText>
				<parameter name="@CreateDate" layout="${date}" dbType="DbType.Date"/>
				<parameter name="@Handling" layout="${event-properties:item=EventId.Name}" />
				<parameter name="@Exception" layout="${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}" />
				<parameter name="@ExceptionType" layout="${mdlc:ExceptionType}"/>
				<parameter name="@Level" layout="${level}"/>
				<parameter name="@Details" layout="${exception:tostring}" />
				<parameter name="@Message" layout="${message}"/>
				<parameter name="@UserId" layout="${mdlc:UserId}"/>
				<parameter name="@UserName" layout="${event-properties:UserName}"/>
				<parameter name="@LoginAsUserName" layout="${event-properties:LoginAsUserName}"/>
				<parameter name="@UserId" layout="${mdlc:UserId}"/>
				<parameter name="@QueryString" layout="${mdlc:QueryString}"/>
				<parameter name="@Path" layout="${mdlc:Path}"/>
				<parameter name="@Ip" layout="${mdlc:Ip}"/>
				<parameter name="@Host" layout="${mdlc:Host}"/>
				<parameter name="@Cookie" layout="${mdlc:Cookie}"/>
				<parameter name="@Body" layout="${mdlc:Body}"/>
				<parameter name="@Schema" layout="${mdlc:Schema}"/>
				<parameter name="@Headers" layout="${mdlc:Headers}"/>
				<parameter name="@Method" layout="${mdlc:Method}"/>
				<parameter name="@StackTrace" layout="${mdlc:StackTrace}"/>
				<parameter name="@ErrorCode" layout="${mdlc:ErrorCode}" dbType="DbType.Int16" allowDbNull="true"/>
			</target>
			<target xsi:type="File" name="identityFileTarget" fileName="${LogDir}/${LogDate}.log"
				encoding="utf-8" maxArchiveFiles="100" archiveNumbering="Sequence"   archiveDateFormat="yyyyMMddHHmm"
				archiveAboveSize="1048576" archiveFileName="${LogDir}/{#######}.a">
				<layout xsi:type="JsonLayout">
					<attribute name="Timestamp" layout="${longdate}" />
					<attribute name="Level" layout="${uppercase:${level}}" />
					<attribute name="Logger" layout="${logger}" />
					<attribute name="Handling" layout="${event-properties:item=EventId.Name}" />
					<attribute name="Action" layout="${aspnet-mvc-action}" />
					<attribute name="Message" layout="${message}" />
					<attribute name="Exception" layout="${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}" />
					<attribute name="StackTrace" layout="${replace:regex=true:searchFor=\\r\\n+:replaceWith= \aaa:inner=${exception:format=StackTrace}}" />
					<attribute name="Detail" layout="${exception:tostring}" />
				</layout>
			</target>
			<target name="identityDebugger" xsi:type="Debugger" layout="${level}>${message} (${exception:format=ToString})"/>

		</target>


	</targets>
	<rules>
		<logger name="Identity*" minlevel="Debug" writeTo="identityDatabase" />
		<logger name="*" minlevel="Trace" writeTo="MainTargets" />
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Debug" writeTo="debugger" />



	</rules>

</nlog>




